body {
    background: #1E2024;
}

header span {
    color: #AEB5BC;
}

.section-bottom div {
    height: 70px;
}

.nav-link{
    color: #7BA6F7;
}

.more-section p{
    text-align: center;
}

.image-concert {
    height: 250px;
}

.nav-link:hover {
    color: #316CF4;
}

footer p {
    color: #8C9097;
}

header span:hover {
    color: #8C9097;
}

section h1 {
    color: #AEB5BC;
}

section p {
    color: #8C9097;
}

.card {
    background: #222529;
}

.card small {
    color: #8C9097;
}

.card h5 {
    color: #AEB5BC;
}

.age {
      position: absolute;
      color: #AEB5BC;
      background: #222529;
      padding: 6px 6px 1px;
}

.card p {
    color: #AEB5BC;
}

.album {
    background: #2C3035;
}

.header_bg {
    background: #2C3035;
}

.btn {
    margin-bottom: 10px;
}

.status-div {
    margin-bottom: 40px;
    color: #AEB5BC;
}

.btn-find button{
    width: 100%;
    height: 100%;
}

.form-div {
    margin: 0;
}

label {
    color: #AEB5BC;
    width: 100%;
}

.form-place-div {
    background-color: #2C3035;
    border-radius: 20px;
    padding: 20px 20px;
}

select, input {
    width: 100%;
    height: 35px;
}

.input-div {
    margin-top: 10px;
    margin-bottom: 10px;
}